.notLoggedIn {
    display: flex;
    margin: auto;
    max-width: 30%;
    max-height: 30%;
    padding-top: 5%;
}

.loggedIn {
    max-height: 70px;
    max-width: 70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}