.optionsBtn {
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    border: none;
    background-color: transparent;
    top: 6%;
}

#editBtn {
    background-image:url('../../resources/edit_icon.png');
    background-size:cover;

    right: 15%;
}

#deleteBtn {
    background-image:url('../../resources/delete_icon.png');
    background-size: cover;
    right: 3%;
}

.optionsBtn:hover {
    opacity: 0.8;
}

#card {
    box-shadow: 7px 7px 7px 7px rgb(207 207 207);
    border-radius: 15%;
    background-color: #f2fff5;
}

.typeIcon {
    min-height: 30px;
    min-width: 30px;
}

#cardHeader {
    background: transparent;
}

button {
    border: none;
}

#tableId {
    display: block;
}

#tableId td {
    display: inline-block;
    padding: 2%;
}
