.wrapper {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    /*width: 40%;*/
}

.passwordbtn {
    border: none;
    outline: none;
    height: 50px !important;
    width: 50% !important;
    background-color: #82f186 !important;
    color: white ;
    border-radius: 10px !important;
    font-weight: bold !important;
}

.passwordbtn:hover {
    background-color: #a0f8a2 !important;
    border: none;
    color: black;
}

.copybtn {
    border: none;
    outline: none;
    height: 40px !important;
    width: 55% !important;
    background-color: #82f186 !important;
    color: white ;
    border-radius: 10px !important;
    font-weight: bold !important;
}

.copybtn:hover {
    background-color: #d6ffd7 !important;
    border: none;
    color: black;
}

.endalign {
    text-align: end;
}

.checkboxstyle {
    height: 20px !important;
    width: 20px !important;
}

.numberstyle {
    width: 20% ;
}